<hr>
<p><a href="<%= basePath %>/">Home</a> | <a href="<%= basePath %>/about">About</a> | <a
                href="<%= basePath %>/books/search">Search Books</a> | <a href="<%= basePath %>/books/list">List
                Books</a></p>
</body>

</html>