<%- include('partials/header', { pageTitle: 'Add Books - ' + shopData.shopName }) %>

    <h2>Add a New Book</h2>
    <!-- Form to add a new book -->
    <form method="POST" action="/books/bookadded">
        <p>Book Name: <input id="name" type="text" name="name" required /></p>
        <p>Book Price: <input id="price" type="number" min="0" step="0.01" name="price" required /></p>
        <input type="submit" value="Add Book" />
    </form>
    <br>
    <a href="/">Back</a>

    <%- include('partials/footer') %>