<%- include('partials/header', { pageTitle: 'Bargain Books - ' + shopData.shopName }) %>

    <h2>Here are the books on bargain offer (price less than £20):</h2>
    <!-- List of bargain books -->
    <ul>
        <% bargainBooks.forEach(book=> { %>
            <li>
                <%= book.name %>, £<%= book.price %>
            </li>
            <% }); %>
    </ul>
    <a href="/">Back</a>

    <%- include('partials/footer') %>