<%- include('partials/header') %>

  <h2>Welcome to <%=shopData.shopName%>
  </h2>
  <!-- Navigation links -->
  <p><a href="about">About <%=shopData.shopName%></a></p>
  <p><a href="books/search">Search for books</a></p>
  <p><a href="books/list">List books</a></p>
  <p><a href="books/bargainbooks">Bargain books</a></p>
  <p><a href="users/register">Register with us</a></p>
  <p><a href="users/login">Login</a></p>
  <p><a href="users/list">List users</a></p>
  <p><a href="users/audit">Login audit</a></p>
  <p><a href="books/addbook">Add a new book</a></p>

  <%- include('partials/footer') %>