<%- include('partials/header', { pageTitle: 'Login - ' + shopData.shopName }) %>

  <h2>Login</h2>
  <% if (message) { %>
    <p><strong>
        <%= message %>
      </strong></p>
    <% } %>
      <!-- Form to register a new user -->
      <form method="POST" action="/users/loggedin">
        <p>User name: <input id="username" type="text" name="username" required /></p>
        <p>Password: <input id="password" type="password" name="password" required /></p>
        <input type="submit" value="Login" />
      </form>
      <br>
      <a href="/">Back</a>

      <%- include('partials/footer') %>