<%- include('partials/header', { pageTitle: 'Register - ' + shopData.shopName }) %>

  <h2>Register</h2>
  <!-- Form to register a new user -->
  <form method="POST" action="registered">
    <p>User name: <input id="username" type="text" name="username" required /></p>
    <p>First name: <input id="first" type="text" name="first" required /></p>
    <p>Last name: <input id="last" type="text" name="last" required /></p>
    <p>Email: <input id="email" type="email" name="email" required /></p>
    <p>Password: <input id="password" type="password" name="password" required /></p>
    <input type="submit" value="Register" />
  </form>
  <br>
  <a href="/">Back</a>

  <%- include('partials/footer') %>