<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= shopData.shopName %> Search Results
    </title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <!-- Display search results -->
    <h1>Search Results for "<%= search_text %>"</h1>
    <!-- List of search results -->
    <ul>
        <% searched_books.forEach(book=> { %>
            <li>
                <%= book.name %>, £<%= book.price %>
            </li>
            <% }); %>
    </ul>
    <a href="/books/search">Back</a>
</body>

</html>