<%- include('partials/header', { pageTitle: 'Search - ' + shopData.shopName }) %>

  <h2>Search for Books</h2>
  <!-- Form to search for books -->
  <form action="<%= basePath %>/books/search_result" method="GET">
    <p>What book do you want?</p>
    <input id="search-box" type="text" name="search_text">
    <br>
    <!-- Search mode options -->
    <input id="exact_match" type="radio" name="search_mode" value="Exact Match" checked>
    <label for="exact_match">Exact Match</label>
    <br>
    <input id="partial_match" type="radio" name="search_mode" value="Partial Match">
    <label for="partial_match">Partial Match</label>
    <br>
    <input type="submit" value="Search">
  </form>
  <br>
  <a href="<%= basePath %>/">Back</a>

  <%- include('partials/footer') %>